header
{
background:#AEDEFC;
padding:10px;
}

footer
{
background:#AEDEFC;
padding:1px;
font-family:"Science Gothic";
position:relative;
top:320px;
}

h1.head {
  text-align:center;
  font-family:"Science Gothic";
}

#he
{
text-align:center;
font-family:"Science Gothic";
}

#drop-area {
    border: 3px dashed #888;
    padding: 40px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    font-size: 18px;
}

#drop-area.highlight {
    border-color: #3b8cff;
    background-color: #eef4ff;
}

#drop-text {
    font-family: "Science Gothic", cursive;
    color: #444;
}


table
{

position: absolute;
left:580px;
font-family:"Science Gothic";
}

h3
{
text-align:center;
}


#exp
{
 background-color:#FFFA8D;

}		
