p 
 {
   color: red;
 
 }
 
 body
 {
  background-color:#F7CAC9;
 }
 
 p.cook
   {
   
     position:absolute;
     
     	top: 200px;
     	left: 650px;
     	width: 800px;
     	height: 500px;
     	
   }
 
 
 h1
   {
   
    text-align: center;
    font-family: "sofia";
  }
  
header
  {
   background: #F75270;
   padding:10px;
   
  }
