{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 

<p class="cook"><img id="fake" src="/static/images/emi2.gif"  title="cook" width="450" height="450" alt="lhk" ></p>

<script>
function loadim()
 {
  
  var data;
  
  if(confirm("Do you Believe you're beautiful??"))
    {
     data="you're cooked bro!";
    }
    else
     {
      data="nice try but you're still cooked!";
    }
     
   const tite = document.getElementById("temp");
   tite.innerText= "cooked!";
   tite.style.fontFamily="Nosifer";
   
   const cox = document.getElementById("hdr");
   cox.style.background="#000000";
   
   const dox = document.getElementById("foo");
   dox.style.background="#000000";
   
   document.getElementById("back").style.backgroundColor="white";
   
   document.getElementById("fake").src="/static/images/cook.gif";
  
   
  }

</script>



{% endblock %}
