{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 

<p class="cook"><img src="/static/images/cook.gif"  onload="loadim()" title="cook" wdth="800" height="500" alt="lhk" ></p>

<p id="flip">Just Believe in your self!! :)</p>

<script>
function loadim()
 {
  
  var data;
  
  if(confirm("Do you Believe you're beautiful??"))
    {
     data="you're cooked bro!";
    }
    else
     {
      data="nice try but you're still cooked!";
    }
     
   
   const tite = document.getElementById("temp");
   tite.innerText= "cooked!";
   
   
  }

</script>

{% endblock %}
